---
import Layout from '../layouts/Layout.astro';
import { SignIn } from '@clerk/astro/components';


---

<Layout>
  <main class="flex min-h-[calc(100vh-57px)] items-center justify-center">
    <SignIn />
  </main>
</Layout>
