---
import Layout from '../layouts/Layout.astro';
import { SignUp } from '@clerk/astro/components';

export const prerender = true;
---

<Layout>
  <main class="flex min-h-[calc(100vh-57px)] items-center justify-center">
    <SignUp />
  </main>
</Layout>
